.markdown-previewer {
  width: 1000px;
  
  .markdown-form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
     
    margin-top: 10px;
    padding: 30px;
  
    .md-textarea {
      width: 400px;
      border-radius: 5px;
    }
    
    .markdown-preview {
      width: 500px;
    }
  }
}